extends ./layouts/common.pug

block content
  h1(style="text-align: center; margin-top: 1.5rem") Manager Users

  a(href="/users/create")
    h3 Create a user
  table.table
    thead.thead-dark
      tr
        th(scope="col") ID
        th(scope="col") Avatar
        th(scope="col") Name
        th(scope="col") Email
        th(scope="col") action
    tbody
    each user in users
      tr
        th(scope='row')
          span
            b= user.id
        td
          img(src=`${user.avatarUrl || 'https://image.shutterstock.com/image-vector/male-default-avatar-profile-gray-260nw-387037984.jpg'}`
            width="64px" height="64px")
        td
          span
            b= user.name
        td
          span
            b= user.email
        td 
          a(href="/users/"+user.id+"/update", style="margin-left: 10px;") Update
          a(href="/users/"+user.id+"/delete", style="margin-left: 10px;") Delete